---
import ItineraryCard from "@/components/itinerary/ItineraryCard.astro";
import Pagination from "@/components/itinerary/Pagination.astro";

import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (async ({paginate}) => {
    const itinerary = await getCollection("itinerary");
    return paginate(
        itinerary,
        {
        pageSize: 4,
        }
    );
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---


<Layout title=`Itineraries | Page ${page.currentPage}`>
<section class="itinerary-overview__hero">
    <div class="u-container">
        <div class="content-md">
            <h1>A Few of My Favorite Adventures</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat doloribus voluptatibus reprehenderit earum expedita totam aliquam pariatur fugit incidunt quasi? Eaque iusto dolorum at, corporis itaque rerum aliquid velit atque!</p>
        </div>
    </div>
</section>
<section class="itinerary">
    <div class="itinerary__container u-container">
        <div class="itinerary__card-group">
            {page.data.map((itinerary) => <ItineraryCard itinerary={itinerary}/>)}
        </div>
        <Pagination prev={page.url.prev} next={page.url.next} />
    </div>
</section>
</Layout>


<style lang="scss">
.itinerary-overview__hero {
    border-bottom: 0px;
}

.itinerary {
    position: relative;
    z-index: 1;

    &__container {
        padding-top: 0;
    }

    &__intro {
        margin-bottom: 4rem;
    }

    &__card-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(35rem, 100%), 1fr));
        grid-gap: var(--_spacing---section-space--small);
    }
}
</style>