---
// Content
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { Picture } from "astro:assets";

// Components

type Props = {
    reviews: CollectionEntry<"reviews">
};

const {reviews} = Astro.props;

const {description, isFeatured, image, imageAlt, location, name} = reviews.data;
---

<div class="reviews__img-wrapper">
    <Picture src={image} alt={imageAlt} width={700} height={1000}>
</div>
<div class="reviews__flex">
    <h3 class="reviews__quote">
        {description}
    </h3>
    <div class="reviews__contact-info">
        <p class="h5 reviews__name">{name}</p>
        <p class="h5">—</p>
        <p class="h5 reviews__location">{location}</p>
    </div>
</div>

<style lang="scss">
.reviews {
    &__img-wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        border: 1px solid var(--brand-secondary);

        &:hover {
            img {
                scale: 1.05;
            }
        }

        img {
            background-size: cover;
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: relative;
            z-index: 2;
            transition: .5s ease-in-out all;
        }
    }

    &__contact-info {
        display: flex;
        gap: 1rem;
        text-transform: uppercase;
        color: var(--dark-800);
    }
}
</style>