---
// Content
import type { CollectionEntry } from "astro:content";

// Components

type Props = {
    reviews: CollectionEntry<"reviews">
};

const {reviews} = Astro.props;

const {description, isFeatured, image, imageAlt, location, name} = reviews.data;
---

<div class="reviews__img-wrapper">
    <img src={image.src} alt={imageAlt}>
</div>
<div class="reviews__flex">
    <h3 class="reviews__quote">
        {description}
    </h3>
    <div class="reviews__contact-info">
        <p class="h5 reviews__name">{name}</p>
        <p class="h5">—</p>
        <p class="h5 reviews__location">{location}</p>
    </div>
</div>

<style lang="scss">
.reviews {
    &__img-wrapper {
        img {
            border-radius: var(--border-radius);
            background-size: cover;
        }
    }

    &__contact-info {
        display: flex;
        gap: 1rem;
        text-transform: uppercase;
        color: var(--dark-800);
    }
}
</style>