---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Pagination from "@/components/itinerary/Pagination.astro";
import SpecialCard from "@/components/SpecialCard.astro";
import Page from "./[page].astro";

export const getStaticPaths = (async ({paginate}) => {
    const specials = await getCollection("specials");
    return paginate(
        specials,
        {
            pageSize: 3,
        }
    );
}) satisfies GetStaticPaths;

const specials = await getCollection("specials");

const {special} = Astro.props;
const {page} = Astro.props;

---

<Layout title=`Special | Page ${page.currentPage}`>
<section class="specials-overview__hero"></section>
    <div class="u-container">
        <div class="content-md">
            <h1>Current Travel Specials</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat doloribus voluptatibus reprehenderit earum expedita totam aliquam pariatur fugit incidunt quasi? Eaque iusto dolorum at, corporis itaque rerum aliquid velit atque!</p>
        </div>
    </div>
</section>
<section class="specials">
    <div class="specials__container u-container">
        <div class="specials__card-group">
            {
                page.data.map((special) => <SpecialCard special={special}/>)
            }
        </div>
        <Pagination prev={page.url.prev} next={page.url.next} />
    </div>
</section>
</Layout>

<style lang="scss">
.specials-overview__hero {
    border-bottom: 0px;
}

.specials {
    position: relative;
    z-index: 1;

    &__container {
        padding-top: 0;
    }

    &__intro {
        margin-bottom: 4rem;
    }

    &__card-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
        grid-gap: var(--_spacing---section-space--small);
    }
}
</style>